<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p><a href="/Admin_add_dept">Add Department</a></p>
<p><a href="/Admin_view_dept">View Department</a></p>
<p><a href="/Admin_view_dept">Add Staff</a></p>
<p><a href="/Admin_view_staff">View Staff</a></p>
<p><a href="/Admin_view_dept">Add Stream</a></p>
<p><a href="/Admin_view_course">View Stream</a></p>
<p><a href="/Admin_view_course">Add Subject</a></p>
<p><a href="/Admin_view_subject">View Subject</a></p>
<p><a href="/Admin_view_course">Add Student</a></p>
<p><a href="/Admin_view_student">View Student</a></p>
<p><a href="/Admin_add_notification">Add Notification</a></p>
<p><a href="/Admin_view_notification">View Notifications</a></p>
<p><a href="/Admin_view_complaint">View Complaints</a></p>
<p><a href="/Admin_add_event">Add Events</a></p>
<p><a href="/Admin_view_event">View Events</a></p>
<p><a href="/changepwd">Change Password</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p></p>
</body>
</html>
