{% extends 'Faculty/facultyindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form id="form1" name="form1" method="post" action="/changepwdpost">
  <div align="center">
    <table width="392" height="278" border="1">
      <tr>
        <th>Current Password</th>
        <td><label for="cupasswd"></label>
        <input type="text" name="cupasswd" id="cupasswd" /></td>
      </tr>
      <tr>
        <th>New Password</th>
        <td><label for="newpasswd"></label>
        <input type="text" name="newpasswd" id="newpasswd" /></td>
      </tr>
      <tr>
        <th>Confirm Password</th>
        <td><label for="confpasswd"></label>
        <input type="text" name="confpasswd" id="confpasswd" /></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="passwd" id="passwd" value="Change Password" />
        </div></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>

{% endblock %}