<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p><a href="/Faculty_alloc_subject">View Allocated Papers</a></p>
<p><a href="/Faculty_view_material">View Materials</a></p>
<p><a href="/Faculty_view_assignment">View Assignments</a></p>
<p><a href="/Faculty_view_notification">View Notifications</a></p>
<p><a href="/Faculty_view_event">View Events</a></p>
<p><a href="/Faculty_result_event">View Results</a></p>
<p><a href="/Faculty_view_feedback">View Feedbacks</a></p>
<p><a href="/changepwdf">Change Password</a></p>
<p><a href="/faculty_view_attendance">View Attendance</a></p>
<p><a href="/Faculty_view_intmark">View Internal Marks</a></p>
</body>
</html>
